<p id="notice"><%= notice %></p>

<p>
  <strong>Orginizations:</strong>
  <%= @org_offer.orginizations %>
</p>

<p>
  <strong>Members:</strong>
  <%= @org_offer.members %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @org_offer.percentage %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @org_offer.offer %>
</p>

<%= link_to 'Edit', edit_org_offer_path(@org_offer) %> |
<%= link_to 'Back', org_offers_path %>
