<%= form_for(@biz_offer) do |f| %>
  <% if @biz_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@biz_offer.errors.count, "error") %> prohibited this biz_offer from being saved:</h2>

      <ul>
      <% @biz_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :business_id, :value => current_business.id %>
  <div class="form-group col-md-12">We, <strong><%= current_business.name%></strong>, will give <%= f.number_field :percentage, min: 1, max: 100 %> % of our proceeds, if an organization brings in a minimum of <%= f.number_field :requirement, min: 0 %> dollars in sales:</div>
  <div class="form-group col-md-12">
  <div class="field">
    <%= f.text_area :offer,cols: 20, rows: 5, autofocus: true, class: "form-control big-text", placeholder:"Complete Offer (add other requirements, or constraints)"%>
  </div>
  </div>
  <div class="actions">
    <center>
      <%= f.submit "Create Offer" , class:"btn btn-primary" %>
    </center>
    
  </div>
<% end %>
